html {
    /* background: rgb(44, 44, 44); */
    background-color: rgb(9, 9, 9);
}

body {
    max-width: 80%;
    margin: auto;
    color: white;
}

h3 {
    padding: 10px;
}

#gameContainer {
    /* min-width: 500px; */
    width: auto;
    /* height: fit-content; */
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
}

.resourceAmount {
    text-align: right;
}

.topGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 70% 70% 5%; */
    row-gap: 10px;
    column-gap: 10px;
    /* color: white; */
    padding: 20px;
    /* padding-left: 10px; */
    height: max-content;
}

.grid {
    /* background-color: rgba(18, 47, 76, 0.765); */
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: ; */
    column-gap: 10px;
    /* color: white; */
    /* padding: 20px;
    padding-left: 10px; */
    /* max-height: 75vh; */
}
.productGrid {
    /* background-color: rgba(18, 47, 76, 0.765); */
    display: grid;
    grid-template-columns: 50% 20% 30%;
    /* grid-template-rows: ; */
    /* column-gap: 10px; */
    /* color: white; */
    /* padding: 20px;
    padding-left: 10px; */
    /* max-height: 75vh; */
}

.productGrid * {
    border: 1px solid white;
}

.travel {
    font-size: 90%;
}

#scoreBoard {
    /* width: 50%; */
    /* height: 33vh; */
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#inputButtons {
    /* height: 33vh; */
    border: 5px solid yellow;
}

#availableProduct {
    border: 2px solid red;
    text-align: center;
}

#productOnHand {
    border: 2px solid red;
    text-align: center;
}

#locationImage {
    display: block;
    height: 15vh;
    width: 100%;;
    
}

table, th {
    border: 1px solid;
    border-collapse: collapse;
}

td:last-of-type, th:last-of-type {
    text-align: right;
}

table {
    width: 100%;
    text-align: left;
}

td, th {
    padding: 6px;
}

p {
    /* border: 1px solid pink; */
    padding: 10px 20px;
}

button {
    border-radius: 12px;
    padding: 5px;
    width: 100%;
    justify-self: center;
}

.availableProductData:hover {
    background-color: rgb(160, 138, 15);
    color: blue;
}